.div4 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-bottom: 20px;
}


.pokemons-recom {
  width: 90%;
  height: 80%;
  object-fit: cover;
}