.div5 a{
    text-decoration: none;
    margin-bottom: 10px;
}

.bigButton {
    font-family: 'Press Start 2P', cursive;
    font-size: clamp(0.7rem, 2.5vw, 1.5rem); 
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    color: white;
    gap: 1.8rem;
    text-decoration: none;
}

.buttonText {
    text-decoration: none;
    flex: 1;
    padding: 0px;
    color: black; 
    margin-bottom: 40px;
    margin-left: 10px;
}

.arrowBox {
    background-color: white;
    color: #951abe;
    height: 80%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    aspect-ratio: 1 / 1;
    margin-bottom: 45px;
}

.arrowBox:hover {
    background-color: rgb(39, 37, 37);;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}
